html,body {
  margin: 0;
  padding: 0;
  font-family: 'Bungee Inline', sans-serif;

}

h2 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
  padding: 60px 0 15px 0;
  font-family: 'Bungee Inline', sans-serif;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* -- Navigation Menu -- */
nav {
  background-color: #1295C9;
  opacity: .95;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  webkit-box-shadow: 2px 10px 5px 0px rgba(230,205,230,1);
    -moz-box-shadow: 2px 10px 5px 0px rgba(230,205,230,1);
    box-shadow: 2px 5px 5px 0px #333;
}

nav ul {
  float: right;
  margin: 0;
  padding: 20px 0;
}

nav li {
  color: #fff;
  display: inline;
  font-size: 18px;
  font-weight: 600;
  padding-right: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: coror .3s; 
}

/* -- Home jumbotron -- */
.jumbotron {
  background: url("") no-repeat;
  background-size: cover;
  height: 250px;
}

.main {
  position: relative;
  text-align: center;
  top: 220px;
}

.main h1 {
  font-size: 70px;
  font-weight: 800;
  margin-top: 0;
  text-transform: uppercase;
  color: #000;
}

.main p {
  font-size: 30px;
}

.main .btn {
  background-color: #1295C9;
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  transition: background .3s;
  padding: 15px 40px;
}

.main .btn:hover {
  transform: scale(1.1);
  color: #f90;
}

/* -- About Section -- */
.about .container {
  padding: 60px 0;
}

.about {
  background-color: #fff;
}

.about h2 {
  color: #333;
}

.about p {
  color: #333;
}

.about img {
  border-radius: 50%;
  float: left;
  margin: 40px 40px;
  }
.about img-circle {
    border-radius: 50%;
}
  
.about-text {
  margin: 0;
  overflow: hidden;
  padding: 0 10px;
}

/* -- Portfolio Section -- */
.portfolio {
  background: url("https://www.dropbox.com/s/rie4w6evfm5qt1y/giftly.png?dl=1");
  padding-bottom: 30px;
  padding-top: 100px;
}

.portfolio .container {
  padding-top: 30px;
  text-align: center;
}

.portfolio-img {
  width: 100%;
  overflow: hidden;
}

.portfolio-img img {
  width: 100%;
}

.portfolio h3 {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 0 5px 0;
}

.portfolio .float-box {
  background-color: #fff;
  color: #000;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  vertical-align: top;
  width: 23%;
}

.float-box:hover{
    transform:scale(1.1);
}

/* -- Contact Info -- */
.contact {
  background-color: #fff;
  padding-bottom: 20px;
}

.contact .container {
  text-align: center;
}

.contact h2 {
  margin-top: 0;
}

.contact a {
  background-color: #fff;
  color: #333;
  display:inline-block;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  transition: all .3s ease-in-out;
  vertical-align:top;
  width: 50px;
}

.contact a:hover {
  transform: scale(1.1);
  color: #f90;
}

/* -- Footer -- */
footer {
  background-color: #1295C9;
  padding-top:10px;
}


footer p {
  color: #fff;
  margin: 0;
  padding-bottom: 20px;
}

#turn-on {
  background-color: green;
}

#turn-off {
  background-color: red;
}

/*********** Large devices only ***********/
@media(min-width: 1200px) {

}

/********** Medium devices only ***********/
@media(min-width: 992px) and (max-width: 1199px) {

}

/********* Small devices only *************/
@media(min-width: 768px) and (max-width: 991px) {

}

/******** Extra small devices only **********/
@media(max-width: 767px) {

}